.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  font-weight: 900;
  font-size: 25px;
  text-align: center;
}

.inputdiv {
  display: flex;
  margin: 30px 0px;
}

.input {
  height: 40px;
  width: 25px;
  color: black;
  background-color: black;
}

.label {
  padding: 10px 8px;
  border-width: 2px;
  border-color: bblack;
  border: #000000a3;
  border-style: solid;
  border-radius: 20px;
  background-color: #ffffffa6;
}

.button {
  background-color: rgb(1, 65, 1);
  color: white;
}
