/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
.main{
  text-align: center;
  background-image: linear-gradient(
    rgb(145, 185, 255),
    rgb(201, 221, 255),
    rgb(215, 169, 255),
    rgb(228, 149, 244),
    rgb(225, 90, 252),
    rgb(225, 90, 252),
    rgb(248, 143, 255),
    pink,
    rgb(255, 218, 241),
    rgb(255, 218, 241),
    pink,
    rgb(238, 152, 255),
    rgb(232, 126, 253),
    rgb(247, 140, 255),
    rgb(250, 202, 232),
    rgb(254, 197, 233),
    pink,
    rgb(237, 149, 255),
    rgb(225, 90, 252)
  );
}