:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(
    rgb(145, 185, 255),
    rgb(201, 221, 255),
    rgb(215, 169, 255),
    rgb(228, 149, 244),
    rgb(225, 90, 252),
    rgb(225, 90, 252),
    rgb(248, 143, 255),
    pink,
    rgb(255, 218, 241),
    rgb(255, 218, 241),
    pink,
    rgb(252, 248, 225),
    rgb(248, 241, 193),
    rgb(255, 255, 164),
    rgb(249, 213, 147),
    rgb(238, 152, 255),
    rgb(232, 126, 253),
    rgb(247, 140, 255),
    rgb(250, 202, 232),
    rgb(254, 197, 233),
    pink,
    rgb(237, 149, 255),
    rgb(225, 90, 252)
  );
  width: 100%;
  /* height: 90%; */
  position: relative;

}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #0d5844;
  background-color: rgb(164, 236, 223);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
