.mainheading {
  color: rgb(34, 2, 85);
  text-align: center;
  font-size: 70px;
  font: bolder;
  padding: 29px;
}

.maindiv {
  width: 1500px;
  margin: 2px;
  /* height: 700px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.emotions {
  background-color: rgba(245, 245, 220, 0.331);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 1218px;
  align-items: center;
  margin: 0px 116px;
  padding: 0px 43px;
}

.text {
  text-align: center;
  color: rgb(34, 2, 85);
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: larger;
  /* font-style: italic; */
  padding: 20px;
}

.emotion {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: #036e03;
  color: white;
  margin: 16px;
  padding: 15px;
  border-radius: 20px;
}

.button:hover {
  border-color: #0d5844;
  background-color: rgb(164, 236, 223);
}

.h1{
  text-align: center;
  width: 1520px;
}