.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffffc2;
  border-radius: 92px;
  margin: 0px 172px;
  padding: 45px 20px;
}

.first{
  display: flex;
  align-items: center;
  justify-content: center;
}

.secdiv {
  font-size: 20px;
}

.h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #036e03;
}

.para {
  color: #213547;
  font-size: 20px;
}

.button {
  background-color: #036e03;
  color: white;
  margin: 16px;
  padding: 15px;
  border-radius: 20px;
}

.button:hover{
  border-color: #0d5844;
  background-color: rgb(164, 236, 223);
}