.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1533px;
}

.img {
  height: 250px;
}

.button1 {
  background-color: rgb(175, 243, 175);
  margin: 0px 20px;
  color: black;
  padding: 15px;
  border-radius: 15px;
}

.button2 {
  background-color: rgb(1, 54, 1);
  color: white;
  margin: 0px 20px;
  padding: 15px;
  border-radius: 15px;
}

.cardflex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.carddiv{
    border-radius: 20px;
    border-width: 4px;
    margin: 20px;
    border-color: rgb(1, 58, 1);
    background-color: #ffffff66;
    padding: 0px 10px 10px 10px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardimg{
    height: 75px;
}

.colcarddiv{
    display: flex;
}

.colcarddivp{
    padding: 0px 13px 0px 0px ;
}
.backbutton {
  border-color: #1b3817;
  background-color: #84c27c;
  color: black;
  margin: 16px;
  padding: 15px;
  border-radius: 20px;
}

.backbutton:hover {
  background-color: #036e03;
  color: white;
}